body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    height: 1.5rem;
    box-sizing: border-box;
    border: 1px solid green;
}
button{
    color: rgb(13, 152, 13);
    background-color: white;
    padding: 10px 20px;
    border: 3px solid rgb(48, 200, 48);
}
#delete-btn{
    color: rgb(93, 22, 22);
    background-color: white;
    padding: 10px 20px;
    border: 3px solid red;
}
.leadList{
    list-style: none;
    padding-left: 0 ;
}
.leadLinks{
    color: green;
}